<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_url("banner.jpg") %>);">
  <div class="container text-center">
    <h1 >Cocktail Manager</h1>
    <p>Share your own amazing drinks!</p>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill, class: "img-fluid" %>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      </div>
    <% end %>
  </div>
</div>
