// --------------- GENERAL -------------------
a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.btn.btn-danger {
  background-color: #c02b28;
  border: #c02b28;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 3px;
}

.btn.btn-danger:hover {
  background-color: #a50e0b;
  border: #a50e0b;
}

// -------------- COCKTAIL INDEX --------------

.home-card {
  border: none;
  box-shadow: 2px 3px 4px #888;
  color: white;
  text-shadow: 1px 2px 3px black;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.home-card-link:hover .home-card {
  transform: scale(1.05);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

// ------------- COCKTAIL SHOW ---------------
.cocktail-container {
  width: 80%;
  margin: 0 auto;
}

.img-frame {
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.cocktail-photo {
  width: 240px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.ingredients-title-border {
  width: 1.4rem;
  margin: auto auto auto 2rem;
  border: 2px solid #626957;
}

.fit-content-width {
  width: fit-content;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  opacity: 0;
}

.x-margins {
  margin-left: 15%;
  margin-right: 15%;
}

.ingredient:hover {
  .hidden {
    opacity: 1;
  }
}

.btn-success {
  background-color: #4c7500;
  border-color: #4c7500;
  color: white;

  &:hover {
    background-color: rgba(76, 117, 0, 0.9);
    border-color: rgba(76, 117, 0, 0.9);
    color: white;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

// ---------------- NEW COCKTAIL -------------
.new-cocktail, .new-dose {
  margin: 60px auto;
  padding: 0;
  width: 35%;
  border-radius: 2px;
  box-shadow: 1px 2px 3px #bdbcbc;
  text-align: center;
}

#new-cocktail-title, #new-dose-title {
  padding: 70px 0 30px 0;
  text-align: center;
  border-radius: 2px 2px 0 0;
  background-color: #c02b28;
  color: white;
}

#new-cocktail-body, #new-dose-body {
  padding: 20px 60px 10px 60px;
}

div.cocktail_name {
  text-align: left;
}

input#cocktail_name {
  border: none;
  border-bottom:1px solid #c02b28;
  border-radius: 0;
  padding: 10px 0;
  margin-bottom: 30px;
  &::placeholder {
    color: #c02b28;
    font-weight: lighter;
  }
}

div.cocktail_photo {
  text-align: left;
}

input[type='file'] {
  color: transparent;
}
input#cocktail_photo {
  margin-bottom: 30px;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  &::before {
    display: inline-block;
    content: "Choose a file";
    cursor: pointer;
    color: #c02b28;
    font-weight: lighter;
    border: 1px solid #c02b28;
    padding: 5px 10px;
    margin: 10px 0 10px 0;
    border-radius: 3px;
  }
}
input#cocktail_photo:hover::before {
  background-color: #c02b28;
  color: white;
}

.new-btn-home a {
  color: #585858;
  font-size: 0.9rem;
}
.new-btn-home a:hover {
  color: #c02b28;
}

// ------------------ NEW DOSE ---------------
div.dose_ingredient {
  text-align: left;
}

div.dose_description {
  text-align: left;
}

select#dose_ingredient_id, textarea#dose_description {
  border: 1px solid #c02b28;
  margin-bottom: 30px;
  color: #c02b28;
  font-weight: lighter;
}

textarea#dose_description::placeholder {
  color: #c02b28;
}

.new-dose .btn.btn-danger {
  background-color: #c02b28;
  border: #c02b28;
  padding: 10px 15px;
  border-radius: 10px;
}

.new-dose .btn.btn-danger:hover {
  background-color: #a50e0b;
  border: #a50e0b;
}
