// --------------- GENERAL -------------------
a {
  color: black;
}

a:hover {
  text-decoration: none;
}

// ----------------- EDIT --------------------

.home-card {
  border: none;
  box-shadow: 1px 1px 4px black;
  color: white;
  text-shadow: 1px 2px 3px black;
}

.home-card-link:hover img.card-img {
  filter: grayscale(1);
}

.home-card-link:hover h5 {
  color: #C02B28;
  text-shadow: 1px 1px 2px black;
}

// ----------------- SHOW --------------------

.show-container {
  min-height: 100vh;
  background-color: #C02B28;
}

.show-card {
  border: none;
  box-shadow: 1px 1px 3px black;
  max-width: 100%;
  border-radius: 10px;
}

.show-card img.card-img {
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

@media only screen and (max-width: 576px) {
  .show-card img.card-img {
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }
}

.show-card .card-img {
  height: 100%;
}

.show-btn-home a:hover {
  color: white;
}
